[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-timekeeper
Exec=harbour-timekeeper
Name=Timekeeper
# translation example:
# your app name in German locale (de)
Name[de]=Timekeeper

